#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.Publish.xml
*.[Oo]bj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.docstates
*.opensdf
*.vsp
ipch/
obj/
[Bb]in
[Dd]ebug*/
!src/DR.UserInput.Commentary.Services.Web/Views/Debug
[Rr]elease*/
[Tt]estResults*/
TDD*/
Ankh.NoLoad
*.suo
*.orig

#nuget
*.nupkg

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
StyleCop.*

# Office Temp Files
~$*

#Tabs Studio Files
*.tss

#Sublime Text 2
*.sublime-project
*.sublime-workspace

#Build output
Deploy/

#Less build output
src/DR.Magazines.News.Web/Content/styles/*.css

